<p class="title"> Soft Skills  </p>

<table style=" max-width: fit-content">


<ul>
    <li>Communication Skills</li> 
    <li>Teamwork and Collaboration</li> 
    <li> Problem-Solving Abilities</li>
    <li>Organization and Attention to Detail</li>
    <li>Adaptability to New Technologies</li>
    <li>Analytical and Critical Thinking</li>
    <li>Time Management and Prioritization</li>
    <li>Independent Work and Ownership</li>
    <li>Positive Attitude and Willingness to Learn</li>
    <li> Interpersonal Skills and Relationship Building</li>
  
</ul>

</table>