.title {
    color: royalblue;
    font-weight: bold;
    font-family: Helvetica;
    font-size: large;
}

ul {
    /*border-color: violet;
    border-style: solid;*/
   text-align: left;
}

i {
    font-weight: bold;
}


