<table>
    <td> 
        <b>  Founder and Director of TalentSea </b> <br>
        <i>Tecnológico de Monterrey</i>
        <p>  2022 - present | Monterrey, México</p>

        <ul>
            <p> •Enhances academic and soft skills of young people from Veracruz, México. <br>
                •Well-rounded experience including dynamic learning, workshops and expert-led conferences. <br>
                •Its main goal is to improve social mobility for participants.</p> 

                <i>I created this program as Director of Social
                    Responsibility at Veracruz Student Association
                    (AEVER) of Tecnológico de Monterrey.</i> 
        </ul>


    </td>
    <td> 
        <b>   Instructor at Beautiful Patterns Summer Program, </b> <br>
        <i>from MIT & ITESM</i>
        <p>  2022 | Monterrey, México</p>

        <ul>
            The program aims to empower girls into STEM by helping them to develop new scientific and 
            technological skills such as algorithmic thinking through coding workshops.
        </ul>


    </td>

    <td> 
        
        


        <b> First woman member at Veracruz Olympics <br> CS
            Committee COBAEV  </b> <br>
        <!-- <i>from MIT & ITESM</i> -->
        <p> 2019 - 2021 | Veracruz, México</p>

        <ul>
            Training and teaching sub-state team to participate in future mexican computer science olympics (OMI)
            competitions. Also, elaborating problems for  programming contestfic and technological skills such as algorithmic thinking through coding workshops.
        </ul>


    </td>

</table>