<p class="title"> Education  </p>

<table style=" max-width: fit-content">
    <b>B.S. Computer Science and Technology Engineering,</b>  <br>
    <i> Instituto Tecnológico y de Estudios Superiores de Monterrey (ITESM)</i>  <br>
    <p>2020 - present | Monterrey, México</p>

<ul>
    <li>Developing team projects for external
        organizations/companies (back and front-end)</li>
    <li>Using frameworks, agile methodologies, SCRUM,
        and documentation (e.g. SRS, test plans, reports)</li>
    <li>Relevant courses: Advanced algorithms,
        computational modeling electromagnetic
        systems, bioinformatics, IOT, computer graphics.</li>
</ul>

</table>