<table>
    <td> 
        <b>  TOP Teen Programmer,</b> <br>
        <i>ACM & Tecnológico de Monterrey</i>
        <p>  2020 | Monterrey, México</p>

        <ul>
            4th place out of 50+, competitive programming contest for 1st year college students (C++, Py).
        </ul>

    </td>
    <td> 
        <b>  Mexican CS Olympics (OMI), </b> <br>
        <i> Silver Medal State Level </i>
        <p>  2019 | Xalapa, México</p>

        <ul>
            Competitive programming contest for solving
problems efficiently, using advanced algorithms,
data structures, and implementation techniques in
C++ language.
        </ul>


    </td>

    <td> 
        <b> IT knowlegde and CS skills competition   </b> <br>
        <i> COBAEV Olympics </i>
        <!-- <i>from MIT & ITESM</i> -->
        <p> 2018 | Xalapa, México</p>

        <ul>
            1st place (Regional level) / 2nd place (State level)
        </ul>

        <p> 2019 | Xalapa, México</p>
        <ul>
            2nd place (Regional level) / Honorable Mention (State level)
        </ul>
        


    </td>

    <td>
        

<b> Mexican Mathematics Olympics (OMM), </b> <br>
<i> Gold Medal State Level </i>
<p>  2017| Xalapa, México</p>
<i> Broze Medal State Level </i>
<p>  2016 | Xalapa, México</p>

<ul>
    
Solving problems using math skills, reasoning and
creativity. 

</ul>
    </td>

</table>